
    <div class=" container-fluid pb-3 text-center border border--black" id="cookieConsent">
        <div class="row">
            <div class="col-md-12">
                <button hidden type="button" class="close red " id="closeConsent" aria-label="Close">
                    <i class="far fa-times-circle fa-2 "></i>
                 <!--   <span aria-hidden="true">&times;</span>-->
                </button>

                <h5 class="pt-3">Important Notice Site under Construction</h5>

                <h6>We Use Cookies</h6>

            </div>
       
            <div class="col-md-8 mx-auto">
                <div class="progress h100">
                    <div class="progress-bar progress-bar-striped w-75 " role="progressbar" > <h4> progress ..75%</h4></div>
                </div>

            </div>
            <div class="col-md-12 ">
                <p class="lead py-3">
                    This WebSite uses cookies to ensure we give you the best experience on our website. <br />
                    <a href='https://cookiesandyou.com'> Find out more about cookies</a>
                </p>
                <a asp-controller="Home" asp-action="Privacy" class="btn  btn-sm page-link float-left">Learn about our Privacy</a>

                <button type="button" class="close accept-policy red float-right" data-cookie-string="cookieString">
                    <i class="far fa-times-circle fa-2x "></i>
                </button>
            </div>
        </div>
    </div>


