{% load static %}

    <footer class="footer">
        <div class="container-fluid text-center">
            <div class="row ">
                <div class="col-md-12 justify-content-center ">

                    <a class="navbar-brand maroon js-scroll-trigger " href="/#page-top">

                        <img src="{% static 'images/logo100Tran.png' %}" class="brand-image img-circle elevation-3" alt="">
                        <br />
                        <i class="fas fa-bus-alt "></i> My agency Ltd
                    </a>
                </div>
                <div class="col-md-4">
                  <p class="small"> &copy; Copyright reserved  2017-{% now "Y"%}</p>

                </div>
                <div class="col-md-4 do-sharing">
                    <partial name="_SocialSharing" /><br>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="/" class="small">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="small">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>