{% load static %}
        <figure class="figure text-center">
            <div class="ribbon-wrapper ribbon-xl">
                <div class="ribbon bg-maroon text-xl">
                    We Hire
                </div>
            </div>
            <img src="{% static 'images/staffing.jpg' %}" class="img-fluid imgCentre figure-img" loading="eager" alt="...">
            <figcaption class="figure-caption">
                <p class="display-4">“ We supply and hire elite team of professionals”</p>

            </figcaption>
        </figure>
    
 










