{% extends "shared/layout.html" %}

{% block title %}

    login in 
                   
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-8 mx-auto ">

        

        <div class="login-box m-auto">
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Sign in to start your session</p>
                    {% if message %}
                    <div class=" form-row text-danger text-center">{{ message }}</div>
                {% endif %}
                    <form class="needs-validation" action="{% url 'accounts:login' %}" method="post" id="loginform" novalidate>
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" autocomplete="on" autofocus name="username" placeholder="Username" required minlength="5" maxlength="40" >
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" autofocus name="password" placeholder="Password" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" name="rememberMe" id="remember">
                                    <label for="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block btn-sm">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>

                    </form>

                    <div class="social-auth-links text-center mb-3">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                        </a>
                    </div>
                    <!-- /.social-auth-links -->

                    <p class="mb-1">
                        <a id="forgot-password" href="{% url 'accounts:password_reset' %}"">I forgot my password</a>
                    </p>
                    <p class="mb-0">
                        Don't have an account? <a href="{% url 'accounts:user-add' %}" class="text-center">Register</a>
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>

        <div class="card card-body text-center">

            <h5 class="card-title ">Use Strong Passwords</h5>
            <i class="fa fa-shield-virus fa-5x"></i>
            <p class="small text-info text-justify">
                Always use unique passwords that can't easily be guessed. Avoid common words or people's names and remember to change your passwords regularly. Do not use the same password across multiple websites. And if you’re using a public computer or a computer used by multiple people, make sure that you fully log out each time and don’t let the browser save your usernames or passwords.
            </p>
        </div>

    </div>

</div>
{% endblock %}
