{% extends "shared/layout.html" %}
{% load static %}


{% block body %}

<div class="container">
    <dl>

        <dd>
            This Privacy Notice will help you understand how we collect, use and protect your personal information when you choose to sign up to Prof Drivers for any of our projects, activities or services. Please ensure you read this notice and any other similar notice we may provide to you from time to time when we collect or process personal information about you.
        </dd>

        <dt>Who we are </dt>
        <dd>
            Staff Agency Ltd  is registered company in ???? Country.
            The Company is a ‘data controller’ and gathers and uses certain information about you.
        </dd>
        <dt>Data protection principles</dt>
        <dd>
            We will comply with the data protection principles when gathering and using personal
            information, in-line with General Data Protection Guidelines as we are required to do so by law.
            The personal data we collect from you will be adequate, relevant and limited to what is necessary
            in relation to the purposes for which they are being processed.
        </dd>
        <dt>About the information we collect and hold</dt>
        <dd>
            When you sign up to any of our projects or use our services where your personal data is required,
            we will provide you with a programme/service specific Data Protection Privacy Notice which
            outlines exactly what information we will collect, hold, how and why we do so (including the
            relevant legal basis), how we use it, where it is stored and with whom it may be shared.
            We do not share any personal information about you with any other third party without your concent on written statment.
            Here are some of the personal data we will collect from you includes:
        </dd>
    </dl>

        <ul>
            <li>Name, address, date of birth, contact numbers and email address</li>
            <li>Copy of your Drivers's Licence</li>
            <li>Equal Opportunities information including gender, age group, disability and race.</li>
            <li>Whenever is required by law we may collect data in order to optain Disclosure (DBS)</li>
            <li>Serious medical condition which may affect your Job</li>
            <li>Relevant Education and trainings</li>
        </ul>

    <dl>
        <dd>
            This information is classed as special category data under Data Protection Law, This means that data are 'particulary sensitive in relation to fundamental rights and freedoms'and deserve specific protection .
            We will as for your explicit concent (signature) whenever this information is collected.
        </dd>
        <dt>What we use your information for and the legal basis for processing this information</dt>
        <dd>
            We may store and use your personal information for the following reasons:
        </dd>
    </dl>
  
        <ul>
            <li>To be able to contact you in case job, training, offers, queries (legitimate interest)</li>
            <li>To help us maintain Businesses, like job offers with business's parteners </li>
            <li>To comply with our equal opportunities monitoring obligations</li>
        </ul>
    
    <dl>
        <dd>
            Where your information is passed on to a business partener, it is done in a secure manner and the recipient of your information is bound by confidentiality obligations to keep your information safe.
        </dd>
        <dt>How we collect your information </dt>
        <dd>
            Any information held is taken either by secure encrypted online forms, via telephone or by written forms completed by you.
        </dd>
        <dt>Where information may be held</dt>
        <dd>
            Information will be held at our office, we have secure measures in place to seek to ensure that there is appropriate security for information we hold and share.
            Hard copy information is held in secure cabinet which can only be accessed by authorised staff.
            Information is also stored electronically on our information system management, which can only be accessed by authorised personnel and any information held is anonymised as soon as possible.
        </dd>

        <dt>How long we keep your information</dt>
        <dd>
            We keep your information for no longer than is necessary for the purposes for which the personal
            information is processed.
            The Schedule attached to the programme service specific Data
            Protection Privacy Notice you will receive when engaging with us, states how long we store your
            information for and the reasons for this.

        </dd>
        <dt>Your rights</dt>
        <dd>
            You have rights set out in law concerning your personal information. These include:-
        </dd>
    </dl>
  
        <ul>
            <li>A right of access to a copy of the personal information we collect </li>
            <li>A right to have inaccurate data rectified</li>
            <li>A right to request that your personal data be deleted in certain circumstances</li>
            <li>A right to restrict the processing of your personal data.</li>

            <li>A right to transfer your personal data from one controller to another.</li>

            <li>
                A right to object to processing of your personal data , in certain circumstances, that is likely
                to cause or is causing distress.
            </li>

            <li>A right to claim compensation for damages caused by a breach of the GDPR.</li>
        </ul>
       
    <dl>
        <dd>
            Please contact our Data Protection Officer Obama who can be contacted by email 1111@tttt.com if in accordance with applicable law you
            would like to correct or request access to information that we hold relating to you or if you have
            any questions about this notice. You also have the right to ask our Data Protection Officer for
            some but not all of the information we hold and process to be erased (the ‘right to be forgotten’) in
            certain circumstances. Our Data Protection Officer will provide you with further information
        </dd>
        <dt>about the right to be forgotten, if you ask for it</dt>
        <dd>
            Keeping your personal information secure
            We have appropriate technical and organisational measures in place to prevent personal
            information from being accidentally lost, or used or accessed in an unauthorised way. We limit
            access to your personal information to those who have a genuine business need to know it. Those
            processing your information will do so only in an authorised manner and are subject to a duty of
            confidentiality.
            We also have procedures in place to deal with any suspected data security breach. We will notify
            you and any applicable regulator of a suspected data security breach where we are legally required
            to do so.
        </dd>
        <dt>How to complain</dt>
        <dd>
            We hope that our Data Protection Officer can resolve any query or concern you raise about our
            use of your information. If not, contact the adminstration on admin@prof-drivers.com or
            telephone: 01234567890 for further information about your rights and how to make a formal
            complaint.
        </dd>
        </dl>
    </div>

{% endblock %}